html, body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  font-family: monospace;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 552.3px 1fr;
  grid-template-rows: 1fr 798px 1fr;
  height: 100vh;
  width: 100vw;
}

.data-slate {
  grid-row: 2;
  grid-column: 2;
  height: 100%;
  width: 100%;
  margin: auto;
}

.animated {
    grid-row: 2;
    grid-column: 2;
    margin-left: 65px;
    margin-right: 47px;
    margin-top: 44px;
    margin-bottom: 148px;
    color: #e6e3e3;
    position: relative;
    overflow: hidden;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

p {
    line-height: 16px;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

li p {
    margin: 0;
    margin-bottom: 3px;
}

.animated img{
    position: absolute;
}
/*----- BUTTONS -----*/
.buttons{
    position: relative;
    grid-row: 2;
    grid-column: 2;
    overflow: hidden;
}

.toggle_typing {
    position: absolute;
    border-radius: 1000px;
    top: 464px;
    left: 17px;
    height: 24px;
    width: 17px;
}

.increase_speed {
    position: absolute;
    border-radius: 1000px;
    top: 507px;
    left: 17px;
    height: 24px;
    width: 17px;
}

.decrease_speed {
    position: absolute;
    border-radius: 1000px;
    top: 550px;
    left: 17px;
    height: 24px;
    width: 17px;
}

.reset_setting {
    position: absolute;
    border-radius: 1000px;
    top: 593px;
    left: 17px;
    height: 24px;
    width: 17px;
}

.reset_typing {
    position: absolute;
    border-radius: 1000px;
    top: 636px;
    left: 17px;
    height: 24px;
    width: 17px;
}

.page1 {
    position: absolute;
    bottom: 41px;
    left: 141px;
    height: 41px;
    width: 41px;
}

.page2 {
    position: absolute;
    bottom: 41px;
    left: 193px;
    height: 41px;
    width: 41px;
}

.page3 {
    position: absolute;
    bottom: 41px;
    left: 245px;
    height: 41px;
    width: 41px;
}

.page4 {
    position: absolute;
    bottom: 41px;
    left: 296px;
    height: 41px;
    width: 41px;
}

.page5 {
    position: absolute;
    bottom: 41px;
    left: 348px;
    height: 41px;
    width: 41px;
}

.previous_section {
    position: absolute;
    border-radius:  100px 0 0 100px;
    bottom: 20px;
    left: 412px;
    height: 90px;
    width: 44px;
}

.next_section {
    position: absolute;
    border-radius:  0 100px 100px 0;
    bottom: 20px;
    left: 456px;
    height: 90px;
    width: 44px;
}