html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #cecdcd;
  background-color: lightgrey;
  font-family: monospace;
}

.stuff {
  display: grid;
  grid-template-columns: 1fr 550.5px 1fr;
  grid-template-rows: 1fr 795.75px 1fr;
  height: 100vh;
  width: 100vw;
}

.background-image {
  grid-row: 2;
  grid-column: 2;
  height: 100%;
  width: 100%;
  margin: auto;
}

.container {
  grid-row: 2;
  grid-column: 2;
  margin-top: 53px;
  margin-left: 70px;
  margin-right: 59px;
  margin-bottom: 153px;
  z-index: 2;
  position: relative;
}

.container p, .container h1, .container h2 {
  margin: 0;
  margin-bottom: 5px;
}

[data-type]:not(li) {
  overflow: hidden;
  display: none;
  white-space: pre-wrap;
}

li[data-type] {
  display: none;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 2px;
}

#inputContainer {
  display: none;
  margin-top: .5rem;
  align-items: center;
  width: 100%;
}

#inputContainer span {
  margin-right: 0.3rem;
}

#userInput {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  color: #cecdcd;
  font-family: monospace;
  font-size: 12px;
  line-height: 18px;
}

#userInput::placeholder, #passwordInput::placeholder {
  color: #cecdcd;
  font-family: monospace;
  opacity: 1;
  font-size: 12px;
  line-height: 18px;
}

.link-row {
  display: flex;
  grid-row: 2;
  grid-column: 2;
  position: relative;
  margin-top: 716px;
  margin-left: 152px;
  gap: 12px;
}

.invisible-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  z-index: 3;
}

#passwordInputContainer {
  display:flex; 
  align-items:center; 
  gap:4px; 
  margin-top:0.5rem;
  width: 75%;
}

#passwordInput {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  color: #cecdcd;
  font-family: monospace;
  font-size: 12px;
  line-height: 18px;
}

/* Styling Stuffs */

p {
  font-size: 12px;
  line-height: 18px;
}

ul {
  margin: 0;
  padding: 0;
  margin-left: 9px;
  list-style-position: outside;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
}

img:not(.background-image) {
  position: absolute;
  margin: 0;
}